@model IEnumerable<PendalePharmacy.Models.Faq>

<link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />


<script>
    (function () {
        var app = angular.module("FaqCtrl", []);


        var Main = function ($scope) {

            $scope.showMe = function () {
                if ($scope.show == false) {
                    $scope.show = true;
                }
                else {
                    $scope.show = false;
                }

            }
            $scope.hideMe = function () {
                $scope.show = false;
            }

        }

        app.controller("Main", Main);
    }());
</script>


<div style="padding:10px">


    <a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
</div>


<div ng-app="FaqCtrl" ng-controller="Main" style="margin-top:20px">
   

        @foreach (var item in Model)
        {
            <div>
                <a class="btn btn-primary" style="background-color:#5c2040;min-width:750px"
                    ng-click="showMe()">
                    <md-icon class="fa fa-plus"></md-icon>
                   
                    View @Html.DisplayFor(modelItem => item.name) Comments
                       
                    
                </a>
                

                   
                    <div ng-show="show" style="margin-top:20px;">
                        <div>
                            User Comment:-  @Html.DisplayFor(modelItem => item.comments)
                        </div>
                        <div>
                          User Email:-  @Html.DisplayFor(modelItem => item.email)
                        </div>
                    </div>

              

                </div>
             
        }

   

</div>