@model IEnumerable<PendalePharmacy.Models.Faq>

<link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />


<script>
    (function () {
        var app = angular.module("FaqCtrl", []);


        var Main = function ($scope) {

            $scope.showMe = function () {
                if ($scope.show == false) {
                    $scope.show = true;
                }
                else {
                    $scope.show = false;
                }

            }
            $scope.hideMe = function () {
                $scope.show = false;
            }

        }

        app.controller("Main", Main);
    }());
</script>


<div style="padding:10px">


    <a>Under Construction</a>
</div>


   

</div>
