@{
    ViewBag.Title = "Home Page";
    
}

<style type="text/css">
    body{
        background-color:beige;
    }
</style>

<div class="jumbotron">
    
    <div class="container">
        <div id="slides">
            <img src="~/Content/img/pharmacist1.jpg" />
            <img src="~/Content/img/Pharmacy.jpg" >
            <img src="~/Content/img/products.jpg" >
         </div>
    </div>

</div>

<div  class="row">
    <div class="col-md-4">
        <h2>Presciption Drugs</h2>
        <p>
            <img class="img-responsive" src="~/Content/img/phar.jpg" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health & Pharmacy</h2>
        <p>
            <img class="img-responsive" src="~/Content/img/health.jpg" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Pharmacists</h2>
        <p>
            <img class="img-responsive" src="~/Content/img/pharmcist.jpg" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>