@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i class="fa fa-medkit"></i>&nbsp;Pendale Pharmacy</h1>
    <p class="lead">Health and well-being is our primary concern, and we take care of you with a wide selection of products to support all facets of your health, through all stages of life. The pharmacy is the heart of our store and our friendly, knowledgeable pharmacists can give you more information on your prescriptions, or recommend just the over the counter medicine you need. Whether you’re treating an ailment or just maintaining your overall health, look to us first</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Presciption Drugs</h2>
        <p>
            <img class="img-responsive" src="~/Content/img/phar.jpg" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health & Pharmacy</h2>
        <p>
            <img class="img-responsive" src="~/Content/img/health.jpg" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Pharmacists</h2>
        <p>
            <img class="img-responsive" src="~/Content/img/pharmcist.jpg" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>